In [28]:
# Include all packages
import cv2
import numpy as np
import pandas as pd

In [29]:
annotationsDataFrame = pd.read_csv("./DataAnalysis.csv")
annotationsDataFrame1 = pd.read_csv("./DataAnalysis1.csv")
annotationsDataFrame = pd.concat([annotationsDataFrame,annotationsDataFrame1], ignore_index=True)
annotationsDataFrame["width"] = annotationsDataFrame['x2'] - annotationsDataFrame['x1']
annotationsDataFrame["height"] = annotationsDataFrame['y2'] - annotationsDataFrame['y1']
annotationsDataFrame["area"] = annotationsDataFrame['width'] * annotationsDataFrame['height']
annotationsDataFrame["perimeter"] = (annotationsDataFrame['width'] + annotationsDataFrame['height'])*2
annotationsDataFrame.head()

   Unnamed: 0   x1   y1   x2   y2  width  height  area  perimeter
0           0    3  328   39  377     36      49  1764        170
1           1  353  381  380  418     27      37   999        128
2           2  307  324  315  334      8      10    80         36
3           3  377  332  398  360     21      28   588         98
4           4  432  182  467  232     35      50  1750        170

In [30]:
annotationsDataFrame.describe()

,Unnamed: 0,x1,y1,x2,y2,width,height,area,perimeter
count,8753.000000,8753.000000,8753.000000,8753.000000,8753.000000,8753.000000,8753.000000,8753.000000,8753.000000
mean,3569.334171,380.566549,233.714155,407.010739,280.298069,26.444191,46.583914,1497.091511,146.056209
std,2394.687744,138.936967,93.614084,141.953726,87.735951,13.598853,22.090455,1658.553738,69.380482
min,0.000000,0.000000,0.000000,15.000000,42.000000,5.000000,8.000000,48.000000,28.000000
25%,1289.000000,307.000000,180.000000,328.000000,230.000000,17.000000,31.000000,525.000000,96.000000
50%,3477.000000,411.000000,226.000000,434.000000,264.000000,23.000000,41.000000,940.000000,128.000000
75%,5665.000000,478.000000,297.000000,509.000000,334.000000,32.000000,56.000000,1800.000000,178.000000
max,7853.000000,618.000000,468.000000,639.000000,510.000000,112.000000,206.000000,21424.000000,620.000000

In [32]:
widthData = annotationsDataFrame['width'].to_numpy()
widthData.sort()
print(np.percentile(widthData, 90))
print(np.percentile(widthData, 95))
heightData = annotationsDataFrame['height'].to_numpy()
heightData.sort()
print(np.percentile(heightData, 90))
print(np.percentile(heightData, 95))

44.0
53.0
76.0
90.0